VITE_NETWORK=mainnet
VITE_NETWORK_URL=https://api.explorer.provable.com/v2
VITE_EXPLORER_TX_URL=https://explorer.provable.com/transaction
VITE_PROGRAM_ID=fairdrop_v3.aleo
VITE_TOKEN_REGISTRY_PROGRAM_ID=token_registry.aleo
# Deterministic bech32 address for fairdrop_v3.aleo (Address.fromProgramId)
VITE_FAIRDROP_PROGRAM_ADDRESS=aleo1lyhs9kkswpx589twenhvclpcjtyjs038kp9j6s33wk2e7rmu5uqq53rgne
VITE_FEE=100000
